*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.window{
    width: 300px;
    height:300px;
    margin:0 auto;
    overflow: hidden;

}
.window .img{
    display: flex; 
    transition:all 1000ms; 
}
.img > img{
  width:100%;
  
}
.button >button{
    margin-top:15px;
    width:30px;
    height:35px;
}
